h1 {
    color: #B35061;
}
body {
    text-align: center;
    background-color: #E8C8C8;
}
img {
    margin-right: 50px;
    margin-left: 50px;
}
#choose {
    background-color: transparent;
    border: none;
}
p{
    color: #FFF5F7;
}