@font-face {
    font-family: 'pixel';
    src: url('assets/fonts/pixelify.ttf') format('woff2');
    font-weight: normal;
    font-style: normal; 
}
html{
    min-width: 280px;
    min-height: 480px;
    
}
body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/images/plaid.png");
    margin: 0;
    min-width: 280px;
    min-height: 480px;
    font-family: 'pixel', sans-serif;
    
}
#choose {
    background-color: transparent;
    border: none;
}
#hello{
    display: block;
    height: 100%;
    min-width: 280px;
    min-height: 480px;
    margin: 0;
}
#note, #notebook{
    background-image: url("assets/images/binder.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 100%;
    min-width: 280px;
    min-height: 100vh;
}
::placeholder{
    font-family: 'pixel', sans-serif;
    color: #DBACB4;
}
button, input{
    font-family: 'pixel', sans-serif;
    background-color: transparent;
    border: none;
}

